<h3 class="text-center">The team</h3>

<ul class="list-inline text-center">
  <% ["vananreed", "jamesrevan", "linniethepooh"].each do |gh_username| %>
    <li>
      <%= image_tag "https://kitt.lewagon.com/placeholder/users/#{gh_username}", class: "img-circle" %>
      <h3><%= gh_username.capitalize %></h3>
    </li>
  <% end %>
</ul>
